textarea{
    resize: none;
    border: none;
    background-color: var(--alt-color);
    padding:8px;
    padding-bottom:0px;
    width:100%;
    height:385px;
    outline: none;
}
/* Scrollbar source: https://css-tricks.com/almanac/properties/s/scrollbar/ */
textarea::-webkit-scrollbar {
    width: 1em;
}
textarea::-webkit-scrollbar-track {
    -box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}